<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="single.cjj.fi.gl.mapper.BizfiFiVoucherMapper">
    <resultMap id="BaseResultMap" type="single.cjj.fi.gl.entity.BizfiFiVoucher">
        <id column="fid" property="fid" />
        <result column="fnumber" property="fnumber" />
        <result column="fdate" property="fdate" />
        <result column="fsummary" property="fsummary" />
        <result column="famount" property="famount" />
        <result column="fstatus" property="fstatus" />
        <result column="fcreated_by" property="fcreatedBy" />
        <result column="fcreated_time" property="fcreatedTime" />
        <result column="faudited_by" property="fauditedBy" />
        <result column="faudited_time" property="fauditedTime" />
        <result column="fposted_by" property="fpostedBy" />
        <result column="fposted_time" property="fpostedTime" />
        <result column="fremark" property="fremark" />
    </resultMap>
</mapper>
