<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="single.cjj.fi.gl.mapper.BizfiFiAccountingPeriodMapper">
    <resultMap id="BaseResultMap" type="single.cjj.fi.gl.entity.BizfiFiAccountingPeriod">
        <id column="fid" property="fid" />
        <result column="forg" property="forg" />
        <result column="fperiod" property="fperiod" />
        <result column="fyear" property="fyear" />
        <result column="fmonth" property="fmonth" />
        <result column="fstart_date" property="fstartDate" />
        <result column="fend_date" property="fendDate" />
        <result column="fstatus" property="fstatus" />
        <result column="fclose_by" property="fcloseBy" />
        <result column="fclose_time" property="fcloseTime" />
        <result column="fremark" property="fremark" />
        <result column="fcreatetime" property="fcreatetime" />
        <result column="fupdatetime" property="fupdatetime" />
    </resultMap>
</mapper>
