<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="single.cjj.fi.gl.mapper.BizfiFiVoucherTypeMapper">
    <resultMap id="BaseResultMap" type="single.cjj.fi.gl.entity.BizfiFiVoucherType">
        <id column="fid" property="fid" />
        <result column="forg" property="forg" />
        <result column="fcode" property="fcode" />
        <result column="fname" property="fname" />
        <result column="fprefix" property="fprefix" />
        <result column="fsort" property="fsort" />
        <result column="fstatus" property="fstatus" />
        <result column="fremark" property="fremark" />
        <result column="fcreatetime" property="fcreatetime" />
        <result column="fupdatetime" property="fupdatetime" />
    </resultMap>
</mapper>
